.footer {
    background-color: color(primary-dark);

    display: grid;
   grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    margin: 5rem;
}
.textBox {
    display: grid;
    width: 30rem;
    height: 30rem;
    border: 1rem solid black;
}

.textBox-5 {
    display: grid;
    width: 30rem;
    height: 30rem;
    border: 1rem solid color(grey-light-2);
    font-size: 1.2rem;
    color: color(grey-dark-3);
    position: relative;
}
