.header {
background-color: color(secondary-light);
display: grid;

&__01 {
    width: 50%;
}
    }

    .img__01 {
        width: 50%;
        
    }

    .highlight {
        background-color: red;
    }